@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: rgb(196, 70, 235);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation:glow .3s ease-in-out infinite;
}
@keyframes glow{
    0%, 10%, 100%{
        color: #490a2e;
        text-shadow: 0 0 12px #ffffff, 0 0 50px #ffffff, 0 0 100px #ffffff;
    }
    30%, 90%{
        color: #f78df7c9;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .5s ;
}
.greetings > span:nth-child(3){
    animation-delay: .10s ;
}
.greetings > span:nth-child(4){
    animation-delay: .15s;
}
.greetings > span:nth-child(5){
    animation-delay: .20s;
}
.greetings > span:nth-child(6){
    animation-delay: .25s;
}
.greetings > span:nth-child(7){
    animation-delay: .30s;
}
.greetings > span:nth-child(8){
    animation-delay: .35s;
}
.greetings > span:nth-child(9){
    animation-delay: .40s;
    
}
.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #fffaff;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

.description{
    color: #cc73b9;
}

/* Estilo para el botón */
.button button {
    background-color: rgb(226, 139, 226); /* Fondo amarillo */
    border: none; /* Sin bordes */
    padding: 10px 20px; /* Ajusta el relleno según tu preferencia */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer;
    position: relative; /* Necesario para el resplandor */
    border-radius: 20px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease-in-out; /* Transición suave para el color de fondo */
  }
  
  /* Estilo para el enlace dentro del botón */
  .button button a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del botón */
  }
  
  /* Efecto de resplandor al pasar el cursor sobre el botón */
  .button button:hover {
    background-color: rgb(235, 152, 235); /* Cambia el color de fondo al pasar el mouse a naranja */
    box-shadow: 0 0 10px rgb(238, 91, 206), 0 0 20px rgb(163, 48, 112), 0 0 30px rgb(230, 70, 182); /* Efecto de resplandor amarillo */
  }
  
  